@{
    ViewData["Title"] = "Info Page";
}
<body style="background-color:#aaa;">
<div class="row">
    <div class="column">
        <a name="asistenta"><h1 id="head7">Serviciul de mobilitate</h1></a>
        <p id="para9">Asistență A24:</p>
        <p id="para10">
            In cazul in care aveti nevoie de
            asistență pe teritoriul României, apelați numărul de telefon: 0372500 081
        </p>
        <p id="para11">În afara României este valabil numărul de telefon: +40 372 500 081</p>

    </div>
    <div class="column">
        <img src="img/Poza7.jpg" alt="Poza VW" height="300" width="550">

    </div>
</div>

<div class="middle">
    <a name="mediu"><h1>Mediu si tehnica:</h1></a>
</div>

<div class="row">
    <div class="column">
        <h1 id="head8">Autovehicule scoase din uz</h1>
    </div>
    <div id="col1" class="column">
        <p>
            În prezent, Volkswagen produce vehicule care sunt constituite în
            proporție de 95% din piese valorificabile și care integrează deja piese
            din materiale reciclate. 95% din piesele din material plastic ale
            vehiculului sunt codificate conform standardelor europene, ceea ce
            permite identificarea cu ușurință a pieselor demontate și optimizarea
            reciclării acestora. În plus, vehiculele Volkswagen răspund exigențelor
            reglementărilor europene privind protecția mediului înconjurător.
        </p>
        <p>
            Conform Directivei europene 2000/53/CE, privind gestionarea vehiculelor
            scoase din uz (VSU), transpusă în legislația românească prin Hotărârea de
            Guvern nr. 2406/2004, modificată prin Legea nr. 212/2015, producătorii de
            vehicule au obligația de a asigura colectarea VSU prin centre autorizate,
            fără niciun cost pentru ultimul deținător.**În condițiile în care vehiculul
            este predat complet, cu toate elementele esențiale, conform legii.
        </p>
        <p>
            Porsche România și-a îndeplinit această obligație, prin crearea unei rețele
            naționale de centre de colectare a VSU.
        </p>
        <p>
            Pentru predarea autovehiculului tău scos din uz, trebuie să te adresezi unei
            societăți autorizate pentru colectarea VSU.
        </p>
        <p>
            Colectarea vehiculelor scoase din uz de către societățile din listă se realizează
            conform celor de mai sus, cu excepția următoarelor cazuri:
        </p>
        <p>
            a) Vehiculul scos din uz nu este înmatriculat în România sau ultima înmatriculare a unui
            astfel de vehicul nu s-a făcut în România;
        </p>
        <p>b) Vehiculul scos din uz a fost înmatriculat temporar în România;</p>
        <p>
            c) Vehiculul scos din uz nu mai conține una sau mai multe componente
            esențiale, în mod special grupul motopropulsor, trenul de rulare,
            caroseria, șasiul, catalizatorul sau echipamentele electronice de
            gestionare a funcțiilor vehiculului;
        </p>
        <p>d) Vehiculului scos din uz i s-au adăugat deșeuri.</p>
        <p>
            Societățile menționate în listă au obligația de a emite ultimului
            deținător al vehiculului scos din uz un certificat de distrugere,
            în conformitate cu modelul și condițiile de emitere stabilite prin
            legislația existentă în domeniu.
        </p>
    </div>
</div>

<div class="middle">
    <a name="masinielectrice"><h1>Masini electrice:</h1></a>
    <h1 id="head1">
        Costuri de întreținere cu 35% mai mici pentru mașinile
        electrice
    </h1>
    <p id="para1">
        Conform unui studiu realizat de Institutul pentru Automobile (IFA)
        din cadrul Universității de Economie și Mediu (HfWU) Nürtingen-Geislingen,
        costurile de întreținere și reparație pentru automobilele electrice sunt
        cu aproximativ 35% mai mici decât cele ale unui automobil similar, dar
        cu motor cu ardere internă.
    </p>
    <img id="img1" src="img/Poza5.jpg" alt="WW poza">
</div>

<div class="row">
    <div class="column">
        <h1 id="head2">De ce mașinile electrice au nevoie de mai puțină întreținere?</h1>

    </div>
    <div class="column">
        <p id="para2">
            Multe componente ale motoarelor clasice pur și simplu nu sunt necesare
            în mașina electrică, ca urmare a modului diferit de acționare. Acestea
            includ componente ale motorului, cum ar fi filtrele de aer, combustibil
            și ulei, răcirea motorului sau bujiile, dar și piese de uzură, precum
            sistemul de evacuare sau ambreiajul. Deoarece motoarele utilizate la
            mașinile electrice nu au componente care se freacă și astfel se uzează,
            aceste motoare nu necesită întreținere. Pe scurt: mai puține componente
            înseamnă, de asemenea, costuri mai mici de întreținere.
        </p>

    </div>
</div>
<div class="row">
    <div class="column">
        <p id="para3">
            Frânele, de exemplu, se numără printre componentele care necesită
            întreținere regulată. Cu toate acestea, frânele sunt solicitate mai
            puțin în cazul unui automobil electric și, prin urmare, trebuie
            înlocuite mai rar. Acest lucru se datorează parțial recuperării
            energiei. Acest lucru înseamnă că, atunci când mașina frânează, energia
            cinetică este transformată în energie electrică și recuperată.
            Recuperarea acționează și ca o frână de motor, ceea ce înseamnă că
            sistemul de frânare este mai puțin solicitat și nu se uzează la fel de
            repede ca la un motor cu ardere internă. În plus, trebuie verificate
            direcția, aerul condiționat, roțile și anvelopele. Totodată, inspecția
            de service trebuie să aibă loc la intervale similare cu cele ale unei
            mașini cu motor cu ardere internă.
        </p>
        <p id="para4">
            În timp ce, pe de o parte, unele componente specifice motorului cu
            ardere internă lipsesc, pe de altă parte, elementele speciale unei
            mașini electrice sunt adăugate la lista de întreținere.
        </p>

    </div>
    <div class="column">
        <h1 id="head3">Care sunt piesele verificate periodic la o mașină electrică?</h1>

    </div>
</div>
<div class="middle">
    <img id="img2" src="img/Poza6.jpg" alt="WW poza">
</div>

<div class="row">
    <div class="column">
        <h1 id="head4">Cum se poate reduce uzura mașinilor electrice?</h1>

    </div>
    <div class="column">
        <p id="para5">
            Majoritatea automobilelor electrice conțin baterii litiu-ion. Dacă
            vrei să menții bateria în stare cât mai bună, nu ar trebui să-ți lași
            mașina cu un nivel de încărcare mai mic de 20% pentru o perioadă lungă
            de timp. Similar cu smartphone-urile, care funcționează tot cu baterii
            litiu-ion, modul în care încarci bateria automobilului tău electric
            contribuie, de asemenea, la durata de viață a bateriei. Încărcarea la
            curent alternativ, de exemplu la o priză de uz casnic, este preferabilă
            realimentării la curent continuu la stația de încărcare rapidă. Deoarece
            bateria este cea mai scumpă piesă de schimb a unei mașini electrice,
            trebuie să îi acorzi atenția cuvenită.
        </p>

        <p id="para6">
            Există și alte piese de uzură pe care proprietarii de mașini cu
            motoare electrice ar trebui să le aibă în vedere: anvelopele.
            Mașinile electrice pot genera un cuplu mult mai mare la pornire decât
            majoritatea celorlalte autovehicule. Pornirea regulată cu un cuplu
            ridicat poate uza anvelopele. De aceea se recomandă o pornire moderată.
            La cumpărarea și întreținerea anvelopelor trebuie luate în considerare
            cerințele speciale ale mașinilor electrice.
        </p>

    </div>
</div>

<div class="row">
    <div class="column">
        <p id="para7">
            Da, afișajul intervalelor de service te va ajuta în acest sens.
            Poți găsi acest lucru pe afișajul din bord și în sistemul Infotainment.
        </p>

    </div>
    <div class="column">
        <h1 id="head5">Îmi pot verifica singur intervalele de service în automobil?</h1>

    </div>
</div>

<div class="row">
    <div class="column">
        <h1 id="head6">Ce trebuie luat în considerare atunci când alegi un service?</h1>

    </div>
    <div class="column">
        <p id="para8">
            Lucrările la sistemul de înaltă tensiune pot fi efectuate
            numai în service-uri instruite și echipate corespunzător. Înainte de a
            lucra la autovehicul, mecanicul trebuie să verifice dacă sistemul de
            înaltă tensiune este lipsit de tensiune, astfel încât lucrarea să poată
            fi efectuată fără probleme.
        </p>

    </div>
</div>

<div id="div1" class="middle">
    <a name="avantaje"><h1>Avantaje Service Autorizat Volkswagen</h1></a>
    <p>- Servicii de calitate</p>
    <p>- Personal calificat</p>
    <p>- Sculele și documentația recomandate de fabricant</p>
    <p>- Piese de schimb originale</p>
    <p>- Accesorii originale</p>
    <p>- Oferte speciale</p>
</div>
</body>