@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:#aaa;">
<div class="row" style="background-color:#aaa;">
    <div class="column">
        <img src="img/Poza1.jpg" alt="Poza" height="300" width="550">
    </div>
    <div class="column">
        <h1>Lucrari de reparatie si intretinere</h1>
        <p class="text_bold">
            Un autovehicul Volkswagen este o adevarata minune a tehnicii.
            Pentru a te bucura de el pentru mult timp si pentru a circula in
            siguranta, iti recomadnam sa efectuezi inspectiile de servie la
            partenerii de service autorizati Volkswagen
        </p>
        <h1>Inspecția de service</h1>
        <p class="text_bold">
            Cu 130 km/h pe autostradă, pornire la rece la -15° în concediu
            la schi sau călătorie la +40° spre mare? Asigură-te că automobilul
            tău este întreținut în mod regulat de către specialiști, pentru a
            face față cu succes acestor provocări.
        </p>
        <h1>De ce este importantă inspecția de service?</h1>
        <p class="text_bold">
            - Pentru siguranță și pentru menținerea valorii autovehiculului.
            Pentru autovehicule mai noi și mai vechi. Practic, o consultație medicală
            a autovehiculului.
        </p>
        <p class="text_bold">
            - Lucrările efectuate diferă în funcție de vechimea autovehiculului și
            numărul de kilometri.
        </p>
    </div>
</div>
<div class="row" style="background-color:#aaa;">
    <div class="column">
        <h1>Tinichigerie si vopsitorie</h1>

        <p class="text_bold">Îți dorim drum bun!</p>

        <p class="text_bold">
            Și sperăm că vei ajunge întotdeauna cu bine la destinație. Dacă totuși
            vei avea vreo zgârietură sau o lovitură la autovehicul, te așteptăm în
            service-urile autorizate. Inspectăm cu atenție dauna, îți prezentăm
            diferitele posibilități de reparație și îți oferim o estimare de preț.
        </p>

        <p class="text_bold">
            Serviciile profesionale pentru vopsea din service-urile autorizate
            Volkswagen, te ajută să îți menții mașina frumoasă pentru mai mult timp.
            Polișarea la intervale regulate și conservarea profesională mențin
            strălucirea pentru mulți ani.
        </p>

        <p class="text_bold">
            Loviturile de pietre, zgârieturile și micile daune ale vopselei
            reprezintă terenul ideal pentru formarea ruginii. Înainte ca zona
            afectată să se extindă și dauna să devină tot mai mare, te invităm în
            service-urile autorizate Volkswagen. Personalul calificat folosește
            scule speciale și tehnologia recomandată de către producătorul
            automobilului pentru a readuce autovehiculul în formă.
        </p>

    </div>
    <div class="column">
        <img src="img/Poza2.jpg" alt="Poza" height="300" width="550">
    </div>
</div>
<div class="row" style="background-color:#aaa;">
    <div class="column">
        <img src="img/Poza3.jfif" alt="Poza" height="300" width="550">
    </div>
    <div class="column">
        <h1>Service automobile electrice</h1>
        <p class="text_bold">
            Întreținerea mașinilor electrice diferă de cea a automobilelor
            clasice cu ardere internă.
        </p>
        <a href="@Url.Action("Index", "Info")"><h2><u>Afla mai multe</u></h2></a>
    </div>
</div>
<div class="middle">
    <h1>Receptie directa</h1>
</div>
<div class="row" style="background-color:#aaa;">
    <div class="column">
        <img src="img/Poza4.jpg" alt="Poza" height="300" width="550">
    </div>
    <div class="column">
        <h1>Avantaje:</h1>
        <h3>- Transparență.</h3>
        <p class="text_bold">
            Automobilul este verificat în prezența clientului
            și este oferită inclusiv o estimare de costuri pentru reparații.
        </p>
        <h3>- Rapiditate.</h3>
        <p class="text_bold">Durează doar 15 minute.</p>
        <h3>- Siguranță.</h3>
        <p class="text_bold">Datorită verificării automobilului.</p>
    </div>
</div>
<div class="middle">
    <h1>Cum funcționează?</h1>
    <p class="text_bold" style="padding-left: 250px; padding-right: 250px;">
        Verifici autovehiculul tău Volkswagen împreună cu noi - de la frâne
        până la motor. Gratuit și în doar 15 minute. În cazul în care descoperim
        defecte care trebuie remediate, îți oferim consultanță și îți prezentăm
        o estimare a costurilor.
    </p>
    <h1>Informații suplimentare</h1>
        <a href="@Url.Action("Index", "Info")"><h2><u>Vezi detalii</u></h2></a>
</div>
</body>
