@{
    ViewData["Title"] = "News Page";
}
<body style="background-color:#aaa;">
<div class="row">
    <div class="column centerimg bold">
        <img src="img/Oferta Rabla.jpg" alt="Poza VW" height="300px" width="500px">
        <h3>Aștepți programul  Rabla?</h3>
        <p>Volkswagen îți oferă un voucher de 500 Euro bonus.</p>
        <a><p>Afla mai multe -></p></a>
    </div>
    <div class="column centerimg bold">
        <img src="img/Oferta Moon.jpg" alt="Poza VW" height="300px" width="500px">
        <h3>
            Volkswagen e-up! Stație de încărcare MOON CADOU la achiziția oricărui
            model!
        </h3>
        <p>E timpul să intri în era mobilității electrice!</p>
        <a><p>Vezi oferta -></p></a>
    </div>
</div>

<div class="row">
    <div class="column centerimg bold">
        <img src="img/Oferta Piese.jpg" alt="Poza VW" height="300px" width="500px">
        <h3>Vrei sa cumperi ceva?</h3>
        <p>Prinde cele mai noi oferte la piese auto.</p>
        <a asp-area="" asp-controller="CarParts" asp-action="Index"><p>Vezi ofertele -></p></a>
    </div>
    <div class="column centerimg bold">
        <img src="img/Oferta Reparatie.jpg" alt="Poza VW" height="300px" width="500px">
        <h3>Ai masina defecta?</h3>
        <p>Programeazate la service si primesti un discount de 20%.</p>
        <a asp-area="" asp-controller="ProgramareServices" asp-action="Index"><p>Vezi oferta -></p></a>
    </div>
</div>
</body>